<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvResource" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="/test.csv"/>
    </bean>
    <bean id="testDao" class="com.example.springapp.dao.TestDaoImpl">
    </bean>
    <bean id="testService" class="com.example.springapp.service.TestServiceImpl">
        <constructor-arg name="dao" ref="testDao"/>
    </bean>

</beans>